<nav class="navbar navbar-expand-lg navbar-light bg-light container-navbar">
    <a class="navbar-brand">
        {{navbar.title}}
    </a>
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarText"
            aria-controls="navbarText"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse"
         id="navbarText">
        <ul class="navbar-nav mr-auto">
            {{#each navbar.components}}
                <li class="nav-item active">
                    <a class="nav-link"
                       href="{{href}}?lang={{../locale}}">{{ title }}
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
            {{/each}}
        </ul>
        <span class="navbar-text">
          <ul class="navbar-nav mr-auto">
              {{#each navbar.languages}}
                  <li class="nav-item active">
                    <a class="nav-link"
                       href="{{currentPath}}?lang={{lang}}">
                      {{#if (eq lang ../locale)}}
                          <b>{{title}}</b>
                          <span class="sr-only">(current)</span>
                      {{else}}
                          {{title}}
                      {{/if}}
                    </a>
                </li>
              {{/each}}
          </ul>
        </span>
    </div>
</nav>


<div class="container-home">
    <div class="row justify-content-center">
        <div class='col-6'>
            <div class="form-div-left">
                <div class="form-sub-div-left">
                    <ul>
                        {{#each project}}
                            <li class="mt-4">
                                <p class="h5">{{name}}</p>
                                <p class="h6 mt-2">{{description}}</p>
                                <a href="{{currentPath}}?id={{_id}}&lang={{../locale}}">
                                    {{#if isLess}}
                                        {{../projects.more}}
                                    {{else}}
                                        {{../projects.less}}
                                    {{/if}}
                                </a>
                            </li>
                        {{else}}
                            <p class="h4">{{projects.empty}}</p>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        <div class='col-6'>
            <div class="form-div-right">
                <div class="form-sub-div-right">
                    <p class="h3">
                        {{form.title}}
                    </p>
                    <form action="/?lang={{locale}}" method="post" class="mt-3">
                        <div class="form-group">
                            <label for="input-email">
                                {{form.labels.email}}
                            </label>
                            <input type="email"
                                   class="form-control"
                                   id="input-email"
                                   name="email"
                                   aria-describedby="input-email-help"
                                   placeholder="your-email@gmail.com"
                                   autofocus
                                   required
                                   oninput="this.setCustomValidity('')"
                                   oninvalid="this.setCustomValidity('Електронна пошта є обов\'язковим полем')">
                            <small id="input-email-help"
                                   class="form-text text-muted">
                                {{form.smalls.email}}
                            </small>
                        </div>
                        <div class="form-group">
                            <label for="input-donation">
                                {{form.labels.password}}
                            </label>
                            <input type="number"
                                   min="0"
                                   name="donation"
                                   class="form-control"
                                   id="input-donation"
                                   placeholder="29.99"
                                   required
                                   oninput="this.setCustomValidity('')"
                                   oninvalid="this.setCustomValidity('Розмір коштів є обов\'язковим полем')">
                        </div>
                        <button type="submit"
                                class="btn btn-primary">
                            {{form.confirm}}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
